@import "../../../../assets/scss/elemental-core.scss";

.tooltip {
  position: fixed;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.3em;
  border-radius: px-to-relative(4px);
  background-color: $color-neutral-12;
  color: #ffffff;
  text-shadow: none;
  white-space: normal;
  z-index: 1000;
  max-width: px-to-relative(300px);
}
