<div id="jobDetails" style="overflow: auto">
  <h1 class="ui-core-set-head-title"> Pipelines Log </h1>
  <!--e-button text="Connection Info"></e-button-->
  <e-button text="< Back to Job List" routerLink="/jobs/{{appId}}"></e-button>
  <!--<h3 class="ui-core-set-head-title"> Pipelines Log File Details</h3>-->
  <e-alert *ngIf="job" [icon]="false"
           [type]="!job ? 'info' : job.isFailed ? 'danger' : job.isSucceeded ? 'success' : 'info'">
    {{job.message}}
  </e-alert>
  <e-card *ngIf="job">
    <e-card-header>
      <div class="flex-container"
           fxLayout="row"
           fxLayoutAlign="start center">

        <e-data class="flex-item"
                fxFlex="50%">
          <e-data-label>Job</e-data-label>
          <e-data-value>{{job.job_id}}</e-data-value>
        </e-data>
        <e-data class="flex-item"
                fxFlex="50%">
          <e-data-label>Branch</e-data-label>
          <e-data-value>{{job.branch}}</e-data-value>
        </e-data>
      </div>
    </e-card-header>

    <e-card-content>
      <div class="flex-container primary-row"
           fxLayout="row"
           fxLayoutAlign="start center">
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Duration</e-data-label>
          <e-data-value>{{job.duration | amDuration:'seconds'}}</e-data-value>
        </e-data>
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Started at</e-data-label>
          <e-data-value>{{(job.started_at | amFromUnix) | amDateFormat:'LLL'}}</e-data-value>
        </e-data>
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Finished at</e-data-label>
          <e-data-value>{{(job.finished_at | amFromUnix) | amDateFormat:'LLL'}}</e-data-value>
        </e-data>
      </div>

      <div class="flex-container"
           fxLayout="row"
           fxLayoutAlign="start center">
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Commit</e-data-label>
          <e-data-value>{{job.commit ? job.commit : 'Not available'}}</e-data-value>
        </e-data>
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Requested by</e-data-label>
          <e-data-value>{{job.requested_by}}</e-data-value>
        </e-data>
        <e-data class="flex-item"
                fxFlex="25%"
                fxFlex.xs="33%">
          <e-data-label>Requested at</e-data-label>
          <e-data-value>{{(job.requested_at | amFromUnix) | amDateFormat:'LLL'}}</e-data-value>
        </e-data>
      </div>
    </e-card-content>
    <md-progress-bar mode="indeterminate" *ngIf="job && job.isUnfinished"></md-progress-bar>
  </e-card>


  <div id="logs" *ngIf="logs && logs.length > 0">
    <div class="log-detail">
      <pre><i *ngFor="let log of logs">{{ log.timestamp | amDateFormat:'YYYY-MM-DD HH:mm:ss' }} [{{ log.level }}] {{log.message}} <br/></i>
      </pre>
    </div>
  </div>
  <md-card *ngIf="job && (!logs || logs.length == 0)" class="flex-container empty bg-white" fxLayout="column"
           fxLayoutAlign="center center" fxLayoutAlign.xs="start center">
    <i class="material-icons md-48 gray"> warning</i>
    <i class="logs-empty-text gray" *ngIf="!job.isFinished">
      There are no logs yet for this job. <br/>
      This page will update when the logs are available.
    </i>
    <i class="logs-empty-text gray" *ngIf="job.isFinished">
      There are no logs for this job.
    </i>
  </md-card>
  <md-card *ngIf="!job" class="flex-container empty bg-white" fxLayout="column" fxLayoutAlign="start center">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
    <i class="details-empty-text gray">
      Loading job details...
    </i>
  </md-card>
</div>
