@import "../../../assets/scss/elemental-core.scss";

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px;
  background-color: #eee;
  overflow: scroll;
}

#log-info, .logs {
  overflow: auto;
  font-size: $text-size-small;
  min-height: 65vh;
  padding: $rhythm-unit;
}

pre {
  margin: 0;
  padding: 0;
  border: none;
}

.empty {
  height: 65vh;
  padding: px-to-relative(24px);
}

.value {
  font-style: normal;
  font-weight: lighter;
  color: white;
}

.meta {
  margin-left: 16px
}

.info {
  margin-bottom: 8px;
}

#config-link {
  position: absolute;
  right: px-to-relative(24px);
  top: px-to-relative(32px);
}

#logs {
  & /deep/ .el-card__content {
    background-color: $color-neutral-12;
    padding: 0;
  }
}

#log-loader {
  display: block;
  float: right;
  position: relative;
  right: px-to-relative(18px);
  bottom: px-to-relative(-10px);
}
