<div *ngIf="job" id="jobDetails" style="overflow: auto"> 
  <h1 class="page-title">Job Detail</h1>
  <a id="config-link" appIframeLink="/application/{{appId}}">View Connection Info</a>
  <h3 class="ui-core-set-head-title">
    <a appIframeLink="/jobs/{{appId}}">Jobs </a>
    {{job ? '> #' + (job.job_id | slice:0:8) : ''}}
  </h3>
  <app-job-summary *ngIf="job && appId"
                   [isProgressBarRequired]="false"
                   [isJobNavigationRequired]="false"
                   [appId]="appId" [job]="job">
  </app-job-summary>
  <e-card id="logs">
    <e-card-header>
      Logs
      <a id="scroll-to-bottom"
         (click)="scrollLogsToBottom()"
         class="right">
          Scroll to bottom
      </a>
      <e-progress id="log-loader"
                  *ngIf="streaming || loadingLogs || loadingJob"
                  progressType="indeterminate"
                  progressVariant="dots"
                  progressSize="small"
                  class="pull-right"></e-progress>
    </e-card-header>
    <e-card-content *ngIf="logs && logs.length" class="no-padding">
      <div #logsContainer class="logs">
        <div *ngFor="let log of logs">
          <div *ngFor="let chunk of log.message | logChunks">
            <span class="log__chunk__title" (click)="showChunk(chunk)">
              <e-svg-icon *ngIf="!chunk.visible" size="small" type="alpha__chevron-right">collapsed</e-svg-icon>
              <e-svg-icon *ngIf="chunk.visible" size="small" type="alpha__chevron">expanded</e-svg-icon>
              {{chunk.title}}
            </span>
            <pre class="log__chunk__message" [innerHTML]="chunk.log | safe: 'html'" *ngIf="chunk.visible"></pre>
          </div>
        </div>
      </div>
    </e-card-content>
    <e-card-content *ngIf="job && (!logs || logs.length == 0)">
      <section id="log-info">
        <pre class="logs" *ngIf="!job.isFinished || loadingLogs">Loading logs for this job...</pre>
        <pre class="logs" *ngIf="job.isFinished && !loadingLogs">There are no logs for this job.</pre>
      </section>
    </e-card-content>
  </e-card>
</div>

<e-progress *ngIf="loadingJob && (!logs || logs.length == 0) && !loadingLogs"
            progressType="indeterminate"
            progressVariant="dots"></e-progress>
