@import "../../../assets/scss/elemental-core.scss";

:host {
  position: absolute;
  width: 100%;
  min-height: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #eee;
  overflow: auto;
  z-index: 1;
}

.standalone {
  :host {
    padding-left: 20rem;

    @media (max-width: px-to-relative(800px)) {
      position: initial;
      display: inline-block;
      padding-left: 1.5rem;
      min-height: 100%;
    }
  }
}

@media (max-width: px-to-relative(320px)) {
  :host {
    padding: 1rem;
  }
}

#log-info, .logs {
  overflow: auto;
  font-size: $text-size-small;
  min-height: 65vh;
  padding: $rhythm-unit;
}

pre {
  margin: 0;
  padding: 0;
  border: none;
}

.empty {
  height: 65vh;
  padding: px-to-relative(24px);
}

.value {
  font-style: normal;
  font-weight: lighter;
  color: white;
}

.meta {
  margin-left: 16px
}

.info {
  margin-bottom: 8px;
}

#config-link {
  position: absolute;
  right: px-to-relative(24px);
  top: px-to-relative(32px);
}

#logs {
  & /deep/ .el-card__content {
    background-color: $color-neutral-12;
    padding: 0;
  }
}

#log-loader {
  display: block;
  float: right;
  position: relative;
  right: px-to-relative(18px);
  bottom: px-to-relative(-10px);
}

.log__chunk {
  &__title {
    border-bottom: $border-width-base solid $color-neutral-9;
    color: #fff;
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.5;
    margin: 0;
    margin-bottom: $rhythm-unit / 4;
    padding: 0;
    cursor: pointer;

    &:hover /deep/ svg {
      fill: $color-brand-primary-9 !important;
    }

    /deep/ {
      svg {
        fill: $color-neutral-0;
      }

      .el-iconography__icon {
        top: 0;
      }
    }

    &::last-child {
      border-bottom: medium none;
    }
  }

  &__message {
    padding-left: $rhythm-unit * 2;
  }
}

#scroll-to-bottom {
  display: block;
  float: right;
  position: relative;
  font-size: $text-size-h5;
  font-weight: 400;
  margin-left: $rhythm-unit;
  cursor: pointer;
}

#streaming-loader {
  /deep/ {
    .el-progress__loader {
      position: inherit;
      margin: $rhythm-unit auto;
    }
    .el-progress__loader__node {
      background-color: $color-neutral-0;
    }
  }
}
