<table class="full-width">
  <thead>
  <tr>
    <th class="center">Status</th>
    <th class="center">Build</th>
    <th class="center">Branch</th>
    <th class="center">Commit</th>
    <th class="hidden-sm-down center">Duration</th>
    <th class="hidden-sm-down center">Completed</th>
    <th class="hidden-xs-down center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let job of jobs">
    <td class="center">
      <app-job-status mdTooltip="{{job.message }}"
                      mdTooltipPosition="right"
                      [status]="job.status"></app-job-status>
    </td>
    <td class="center"><a routerLink="/jobs/{{appId}}/{{job.job_id}}">{{job.job_id | slice:0:8}}</a>
    </td>
    <td class="center">{{job.branch}}</td>
    <td class="center">{{job.commit ? job.commit : '-'}}</td>
    <td class="center hidden-sm-down" *ngIf="job.duration">{{job.duration | amDuration:'seconds'}}</td>
    <td class="center hidden-sm-down" *ngIf="!job.duration">-</td>
    <td class="center hidden-sm-down" *ngIf="job.finished_at">{{(job.finished_at | amFromUnix) | amTimeAgo }}</td>
    <td class="center hidden-sm-down" *ngIf="!job.finished_at">-</td>
    <td class="center hidden-xs-down">
      <!-- TODO Refresh is not available in the API yet -->
      <!--<button md-button *ngIf="job.isFailed" (click)="restartJob(job)">-->
      <!--<md-icon color="primary">refresh</md-icon>-->
      <!--</button>-->

      <e-svg-icon class="danger" type="actions__close--circle"
                  *ngIf="job.isUnfinished" (click)="stopJob(job)"
                  mdTooltip="Terminate Job"
                  style="cursor:pointer"
                  mdTooltipPosition="left">
      </e-svg-icon>

    </td>
  </tr>
  </tbody>
</table>
