////
/// Variables that are deprecated in favor of other variables.
///
/// @group core
////

// To be removed in v0.1.0
// ----------------------------------------------------------------------------

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-neutral-7.
///
/// @alias color-neutral-7
$palette-neutral: $color-neutral-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-7.
///
/// @alias color-brand-primary-7
$palette-brand-primary: $color-brand-primary-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-5.
///
/// @alias color-brand-primary-5
$color-brand-5: $color-brand-primary-5 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-7.
///
/// @alias color-brand-primary-7
$color-brand-7: $color-brand-primary-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-9.
///
/// @alias color-brand-primary-9
$color-brand-8: $color-brand-primary-9 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-9.
///
/// @alias color-brand-primary-9
$color-brand-9: $color-brand-primary-9 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-primary-10.
///
/// @alias color-brand-primary-10
$color-brand-10: $color-brand-primary-10 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-secondary-7.
///
/// @alias color-brand-secondary-7
$palette-brand-secondary: $color-brand-secondary-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-secondary-7.
///
/// @alias color-brand-secondary-7
$color-wayfinding-7: $color-brand-secondary-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-brand-tertiary-7.
///
/// @alias color-brand-tertiary-7
$palette-brand-tertiary: $color-brand-tertiary-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-success-7.
///
/// @alias color-state-success-7
$palette-status-success: $color-state-success-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-success-7.
///
/// @alias color-state-success-7
$color-success-7: $color-state-success-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-success-1.
///
/// @alias color-state-success-1
$color-success-1: $color-state-success-1 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-success-12.
///
/// @alias color-state-success-12
$color-success-13: $color-state-success-12 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-danger-7.
///
/// @alias color-state-danger-7
$palette-status-danger: $color-state-danger-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-danger-1.
///
/// @alias color-state-danger-1
$color-danger-1: $color-state-danger-1 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-danger-7.
///
/// @alias color-state-danger-7
$color-danger-7: $color-state-danger-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-danger-12.
///
/// @alias color-state-danger-12
$color-danger-13: $color-state-danger-12 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-warning-7.
///
/// @alias color-state-warning-7
$palette-status-warning: $color-state-warning-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-warning-7.
///
/// @alias color-state-warning-7
$palette-status-info: $color-state-warning-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-warning-7.
///
/// @alias color-state-warning-7
$color-warning-7: $color-state-warning-7 !default;

/// @deprecated
/// This will be removed in version 0.1.0 in favor of
/// $color-state-warning-9.
///
/// @alias color-state-warning-9
$color-warning-9: $color-state-warning-9 !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $border-color.
///
/// @alias border-color
$border-color-base: $border-color !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top.
///
/// @alias spacing-top
$padding-top-base: $spacing-top !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-bottom.
///
/// @alias spacing-bottom
$margin-bottom-base: $spacing-bottom !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top.
///
/// @alias spacing-top
$padding-top-large: $spacing-top !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-bottom.
///
/// @alias spacing-bottom
$margin-bottom-large: $spacing-bottom !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top.
///
/// @alias spacing-top
$padding-top-small: $spacing-top !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-bottom.
///
/// @alias spacing-bottom
$margin-bottom-small: $spacing-bottom !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top.
///
/// @alias spacing-top
$padding-top-extra-small: $spacing-top !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-bottom.
///
/// @alias spacing-bottom
$margin-bottom-extra-small: $spacing-bottom !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top-base and $spacing-bottom-base.
///
/// @see spacing-top
/// @see spacing-bottom
$padding-vertical-base: .6em !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top-large and $spacing-bottom-large.
///
/// @see spacing-top
/// @see spacing-bottom
$padding-vertical-large: .8em !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top-small and $spacing-bottom-small.
///
/// @see spacing-top
/// @see spacing-bottom
$padding-vertical-small: .5em !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-top-extra-small and $spacing-bottom-extra-small.
///
/// @see spacing-top
/// @see spacing-bottom
$padding-vertical-xs: .2em !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of $spacing-horizontal.
///
/// @alias spacing-horizontal
$gutter: $spacing-horizontal !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-horizontal-small.
///
/// @alias spacing-horizontal-small
$gutter-small: $spacing-horizontal-small !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of $spacing-horizontal.
///
/// @alias spacing-horizontal
$padding-horizontal-large: $spacing-horizontal !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-horizontal-small.
///
/// @alias spacing-horizontal-small
$padding-horizontal-small: $spacing-horizontal-small !default;

/// @deprecated
///   This will be removed in version 0.1.0 in favor of
///   $spacing-horizontal-extra-small.
///
/// @alias spacing-horizontal-extra-small
$padding-horizontal-xs: $spacing-horizontal-extra-small !default;
