////
/// Variables to allow simple customization of component styles through the use
/// of responsive breakpoints.
///
/// @group core
////

/// Defines default breakpoints for responsive elements.
$responsive-breakpoints: (
  small: px-to-relative(320px),
  medium: px-to-relative(660px),
  medium-large: px-to-relative(760px),
  large: px-to-relative(960px),
  extra-large: px-to-relative(1220px)
) !default;

/// Set small media query string for responsive elements.
$responsive-media-small: map-get($responsive-breakpoints, 'small') !default;

/// Set medium media query string for responsive elements.
$responsive-media-medium: map-get($responsive-breakpoints, 'medium') !default;

/// Set medium-large media query string for responsive elements.
$responsive-media-medium-large: map-get($responsive-breakpoints, 'medium-large') !default;

/// Set large media query string for responsive elements.
$responsive-media-large: map-get($responsive-breakpoints, 'large') !default;

/// Set extra-large media query string for responsive elements.
$responsive-media-extra-large: map-get($responsive-breakpoints, 'extra-large') !default;
