////
/// Default settings for Elemental.
///
/// @group core
////

/// Class prefix
$prefix: 'el-' !default;

/// Warning messages already passed to the CLI during build
$cli-warning-sent: () !default;

// Color function defaults.
// ----------------------------------------------------------------------------

/// Amount to alter a color per variant level.
///
/// @see {function} embolden
/// @see {function} subdue
$color-variant-factor: 6.6666666667 !default;

/// Sets the amount of hue change to be used with the
/// generate-color-variants() function.
///
/// @see {function} generate-color-variants
$color-hue-factor: 8deg !default;

// Text variables
// ----------------------------------------------------------------------------

// Available text sizes in pixels.
$text-sizes: (
  -3: 11px,
  -2: 12px,
  -1: 14px,
  0: 16px,
  1: 18px,
  2: 22px,
  3: 24px,
  4: 36px
) !default;

/// Sets the base text size.
///
/// @type Number (px)
$text-size-root: map-get($text-sizes, 0) !default;

/// Sets the gargantuan text size.
///
/// @type Number (px)
$text-size-gargantuan: map-get($text-sizes, 4) !default;

/// Sets the giant text size.
///
/// @type Number (px)
$text-size-giant: map-get($text-sizes, 3) !default;

/// Sets the extra large text size.
///
/// @type Number (px)
$text-size-extra-large: map-get($text-sizes, 2) !default;

/// Sets the large text size.
///
/// @type Number (px)
$text-size-large: map-get($text-sizes, 1) !default;

/// Sets the small text size.
///
/// @type Number (px)
$text-size-small: map-get($text-sizes, -1) !default;

/// Sets the extra small text size.
///
/// @type Number (px)
$text-size-extra-small: map-get($text-sizes, -2) !default;

/// Sets the micro text size.
///
/// @type Number (px)
$text-size-micro: map-get($text-sizes, -3) !default;

/// Variables for setting rhythm and spacing.
// ----------------------------------------------------------------------------

/// Multiplier for determining vertical rhythm.
///
/// @type Number (unitless)
$rhythm-scale-base: 2 !default;

/// Base line height for determining vertical rhythm.
///
/// @type Number (unitless)
$line-height-base: 1.5 !default;

/// A status variable that will help determine if a global rhythm baseline has
/// been set.
///
/// @type boolean
$global-typographic-baseline-set: false !default;
