<h1 class="page-title">Configure Pipelines</h1>
<p>Select which git repository provider you would like Pipelines to use to start jobs:</p>

<div id="app-config" class="flex-container"
     fxLayout="row"
     fxLayoutWrap="wrap"
     fxLayoutAlign="start start"
     *ngIf="!appLoading">
  <div class="flex-item"
       fxFlex="350px"
       fxFlex.xs="100%"
       [ngClass]="{'current-repository' : vcsType === 'acquia-git'}">
    <e-card>
      <e-card-content>
        <svg width="150" height="150">
          <image xlink:href="../assets/acquia.svg"></image>
        </svg>
        <p *ngIf="vcsType === 'acquia-git'">You are currently using your Acquia Git repository</p>
        <p *ngIf="vcsType !== 'acquia-git'">Configure Pipelines with your Acquia Git repository</p>
        <e-button text="Start Job" type="primary"
                  appLiftOn="click"
                  [liftEventData]="{appId: appId}"
                  liftEventName="ClickStartJobConfigAcquiaGit"
                  appSegmentOn="click"
                  [segmentEventData]="{appId: appId}"
                  segmentEventIdentifier="ClickStartJobConfigAcquiaGit" (click)="startJob()"
                  *ngIf="vcsType === 'acquia-git'"></e-button>
        <a appIframeLink="/auth/acquia/{{appId}}" class="el-button el-button--link"
           appLiftOn="click"
           [liftEventData]="{appId: appId}"
           liftEventName="ClickConfigureAcquiaGit"
           appSegmentOn="click"
           [segmentEventData]="{appId: appId}"
           segmentEventIdentifier="ClickConfigureAcquiaGit"
           *ngIf="vcsType !== 'acquia-git'">Configure</a>
      </e-card-content>
    </e-card>
  </div>
  <div class="flex-item"
       fxFlex="350px"
       fxFlex.xs="100%"
       [ngClass]="{'current-repository' : vcsType === 'github'}">
    <e-card>
      <e-card-content>
        <svg width="150" height="150">
          <use _ngcontent-kkv-9=""
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xlink:href="/assets/scss/icons.symbol.svg#logos__github"></use>
        </svg>
        <p *ngIf="vcsType === 'github'">You are currently using your GitHub repository</p>
        <p *ngIf="vcsType !== 'github'">Configure Pipelines with your GitHub repository</p>
        <e-button text="Start Job" type="primary"
                  appLiftOn="click"
                  [liftEventData]="{appId: appId}"
                  liftEventName="ClickStartJobConfigGithub"
                  appSegmentOn="click"
                  [segmentEventData]="{appId: appId}"
                  segmentEventIdentifier="ClickStartJobConfigGithub" (click)="startJob()"
                  *ngIf="vcsType === 'github'"></e-button>
        <a appIframeLink="/auth/github/{{appId}}" class="el-button el-button--link"
           appLiftOn="click"
           [liftEventData]="{appId: appId}"
           liftEventName="ClickConfigureGithub"
           appSegmentOn="click"
           [segmentEventData]="{appId: appId}"
           segmentEventIdentifier="ClickConfigureGithub"
           *ngIf="vcsType !== 'github'">Configure</a>
      </e-card-content>
    </e-card>
  </div>
</div>

<e-progress *ngIf="appLoading"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
