@import "../../../assets/scss/elemental-core.scss";

:host {
  position: absolute;
  width: 100%;
  min-height: 50%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

@media (max-width: px-to-relative(320px)) {
  :host {
    padding: 1rem;
  }
}

.flex-container {
  .flex-item {
    margin: px-to-relative(10px);
  }
}

@media (max-width: px-to-relative(575px)) {
  .flex-container .flex-item {
    margin: 0;
  }
}

#app-config /deep/ e-card .el-card__content {
  text-align: center;

  a.el-button--link, a.el-button--link:visited {
    color: $color-brand-primary-7;
  }
}

.current-repository /deep/ e-card section.el-card__content {
  background-color: #cceff5;
}
