<input *ngIf="htmlElement === 'input' && type === 'icon'" type="text" value="{{inputText}}" class="flex" readonly>
<input type="hidden" value="{{inputText}}" *ngIf="type === 'text'">
<pre *ngIf="htmlElement === 'pre' && type === 'icon'" class="flex" [innerHTML]="inputText"></pre>
<a class="ui-core__cmp__copy-text__button" *ngIf="type === 'icon'">
  <e-svg-icon type="actions__copy" *ngIf="!isCopied"></e-svg-icon>
  <e-svg-icon type="state__success" *ngIf="isCopied"></e-svg-icon>
</a>
<a class="ui-core__cmp__copy-text__button" *ngIf="type === 'text'">{{label}}</a>
