<div id="title-bar" class="flex-container" fxLayoutAlign="space-between center" fxLayout="row">

  <div class="bread-crumb" [ngSwitch]="pageType">
    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchCase="'job'">
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a>
      <span *ngIf="job">{{job ? '> #' + (job.job_id | slice:0:8) : ''}}</span>
    </h3>

    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchCase="'config'">
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a> >
      <a appIframeLink="/applications/{{appId}}/info"> Info</a> >
      <span> Configure</span>
    </h3>

    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchCase="'info'">
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a> >
      <span> Info</span>
    </h3>

    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchCase="'acquia-git'">
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a> >
      <a appIframeLink="/applications/{{appId}}/info"> Info</a> >
      <a appIframeLink="/applications/{{appId}}/info/configure"> Configure</a> >
      <span> Acquia Git</span>
    </h3>

    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchCase="'github'">
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a> >
      <a appIframeLink="/applications/{{appId}}/info"> Info</a> >
      <a appIframeLink="/applications/{{appId}}/info/configure"> Configure</a> >
      <span> Github</span>
    </h3>

    <h3 id="job-details-header" class="ui-core-set-head-title flex-item" *ngSwitchDefault>
      <a appIframeLink="/applications/{{appId}}">{{repoName}}</a>
    </h3>
  </div>

  <div id="actions" class="flex-item">

    <div class="dropdown" *ngIf="showMoreMenu">
      <a id="more-links-menu" (click)="toggleMenu()"
         class="flex-container action-icon menu-title"
         fxLayoutAlign="center center"
         fxLayout="column">
        <e-svg-icon class="flex-item menu-title" size="small" type="actions__hamburger-menu">
        </e-svg-icon>
        <span class="el-iconography__label flex-item menu-title" fxHide.xs="TRUE">More Links</span>
        <span class="hover-menu"></span>
      </a>
      <div id="dropdown-links">
        <a appIframeLink="/applications/{{appId}}/info"
           appTrackOn="click"
           [trackEventData]="{appId: appId}"
           trackEventName="ClickConnectionInfoMoreMenu">
          View Application Info
        </a>
        <hr/>
        <span>Utilities</span>
        <a (click)="showEncryptCredentials()"
           appTrackOn="click"
           [trackEventData]="{appId: appId}"
           trackEventName="ClickEncryptCredentialsMoreMenu">
          Encrypt Credentials
        </a>
      </div>
    </div>

    <a id="start-job" class="flex-container action-icon"
       *ngIf="showStartJob"
       (click)="startJob()"
       fxLayoutAlign="center center"
       fxLayout="column">
      <e-svg-icon class="flex-item" type="actions__add--circle"
                  appTooltip="{{ media.isActive('xs') ? 'Start Job' : ''}}"
                  tooltipPosition="below">
      </e-svg-icon>
      <span class="el-iconography__label flex-item" fxHide.xs="TRUE">Start Job</span>
    </a>
    <a id="rerun-job" class="flex-container action-icon"
       *ngIf="showRerunJob"
       (click)="rerunJob(job)"
       fxLayoutAlign="center center"
       fxLayout="column">
      <e-svg-icon class="flex-item" type="actions__restore"
                  appTooltip="{{ media.isActive('xs') ? 'Rerun Job' : ''}}"
                  tooltipPosition="below">
      </e-svg-icon>
      <span class="el-iconography__label flex-item" fxHide.xs="TRUE">Rerun Job</span>
    </a>
    <a id="open-environment" class="flex-container action-icon"
       *ngIf="showOpenEnvironment"
       href="{{job.metadata.deployment_link}}" target="_blank"
       fxLayoutAlign="center center"
       fxLayout="column">
      <e-svg-icon class="flex-item" type="alpha__globe"
                  appTooltip="{{ media.isActive('xs') ? 'Open Environment' : ''}}"
                  tooltipPosition="below">
      </e-svg-icon>
      <span class="el-iconography__label flex-item" fxHide.xs="TRUE">Open Environment</span>
    </a>
    <a id="terminate-job" class="flex-container action-icon"
       *ngIf="showStopJob"
       (click)="stopJob(job)"
       appTrackOn="click"
       [trackEventData]="{appId: appId, jobId: job.job_id}"
       trackEventName="ClickStopJobJobDetails"
       fxLayoutAlign="center center"
       fxLayout="column">
      <e-svg-icon class="flex-item" type="actions__close--circle"
                  appTooltip="{{ media.isActive('xs') ? 'Terminate Job' : ''}}"
                  tooltipPosition="below">
      </e-svg-icon>
      <span class="el-iconography__label flex-item" fxHide.xs="TRUE">Terminate Job</span>
    </a>

    <a id="help-center-action" class="flex-container action-icon"
       *ngIf="showHelpCenter"
       (click)="showHelpCenterDrawer()"
       appTrackOn="click"
       [trackEventData]="{appId: appId}"
       trackEventName="ClickHelpCenter"
       fxLayoutAlign="center center"
       fxLayout="column">
      <e-svg-icon class="flex-item" type="sections__help"
                  appTooltip="{{ media.isActive('xs') ? 'Pipelines Help' : ''}}"
                  tooltipPosition="below"
                  style="padding-top: 3px;"> <!-- Hack for bad icon size -->
      </e-svg-icon>
      <span class="el-iconography__label flex-item" fxHide.xs="TRUE">Pipelines Help</span>
    </a>
  </div>
</div>
<h1 class="page-title" *ngIf="title">{{title}}</h1>
