<e-card *ngIf="job" xmlns="http://www.w3.org/1999/html">
  <div class="job-info job__{{(!job ? 'info' : job.isFailed ? 'danger' : job.isSucceeded ? 'success' : 'info')}}">
      Job
      <a *ngIf="isJobNavigationRequired && !envProd"
         routerLink="{{cloudUrl}}/{{job.job_id}}">{{job.job_id| slice:0:8}}</a>
      <a *ngIf="isJobNavigationRequired && envProd"
         href="{{cloudUrl}}/{{job.job_id}}" target="_top">{{job.job_id| slice:0:8}}</a>
      {{isJobNavigationRequired ? ': ' : (' ' + (job.job_id | slice:0:8) + ' : ')}}
      {{job.message}}
  </div>
  <e-card-content>
    <div id="job-details-1"
         class="flex-container"
         fxLayout="row"
         fxLayoutWrap="wrap"
         fxLayoutAlign="start start">
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.metadata">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The cloud environment where your code was deployed from this job.
                This could be an ODE or a dedicated environment, such as staging or production"
                mdTooltipPosition="right">
            Environment
          </span>
        </e-data-label>
        <e-data-value>
          <a *ngIf="job.isFinished && job.metadata.deployment_link"
             href="{{job.metadata.deployment_link}}" target="_blank">
            <e-svg-icon class="primary" type="alpha__globe"
                        size="small"
                        *ngIf="job.metadata && job.metadata.deployment_link"
                        style="cursor:pointer">
            </e-svg-icon>
            {{job.metadata.deployment_name}}
          </a>
          {{job.isUnfinished ? '-' :
          (job.metadata.deployment_link ? '' : (job.metadata.deployment_name ? job.metadata.deployment_name : '-'))}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.metadata && job.metadata.git_sha">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The commit reference from your git repo."
                mdTooltipPosition="right">
            Commit
          </span>
        </e-data-label>
        <e-data-value>
          <a *ngIf="job.metadata.commit_link" href="{{job.metadata.commit_link}}" target="_blank">
            {{job.metadata.git_sha | slice:0:8}}
          </a>
          {{job.metadata.commit_link ? '' : job.metadata.git_sha | slice:0:8}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="How long the job ran for."
                            mdTooltipPosition="right">
            Duration
          </span>
        </e-data-label>
        <e-data-value *ngIf="job.isUnfinished">{{calculatedDuration}}</e-data-value>
        <e-data-value *ngIf="job.isFinished">{{job.duration | amDuration:'seconds'}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="Date and time when the job started."
                            mdTooltipPosition="right">
            Started at
          </span>
        </e-data-label>
        <e-data-value>{{(job.started_at | amFromUnix) | amDateFormat:'MM/DD/YY hh:mmA'}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="The event that started this job.
                            A branch pull is a normal commit to a Pipelines enabled repo.
                            A pull request event is when a pull request is made for a Pipelines enabled repo"
                            mdTooltipPosition="right">
            Trigger
          </span>
        </e-data-label>
        <e-data-value>{{job.triggerMessage}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest && job.metadata">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="Link to the pull request that triggered this job."
                            mdTooltipPosition="right">
            Pull request
          </span></e-data-label>
        <e-data-value>
          <a *ngIf="job.metadata.pull_request_link"
             href="{{job.metadata.pull_request_link}}" target="_blank"
             appSegmentOn="click"
             [segmentEventData]="{appId: appId, job_id: job.job_id, status: job.status}"
             segmentEventIdentifier="ClickPullRequestLinkJobSummary">
            PR {{job.metadata.pull_request}}
          </a>
          <span *ngIf="!job.metadata?.pull_request_link">
            {{ job.metadata?.pull_request ? ('PR ' +  job.metadata.pull_request)  : '-'}}
          </span>
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="!job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="Git branch that this job is for."
                            mdTooltipPosition="right">
            Branch
          </span>
        </e-data-label>
        <e-data-value>
          {{job.branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The branch in which this job is created."
                mdTooltipPosition="right">
            Source branch
          </span>
        </e-data-label>
        <e-data-value>
          {{job.metadata.source_branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The branch in which the source branch is merging with."
                mdTooltipPosition="right">
            Target branch
          </span>
        </e-data-label>
        <e-data-value>
          {{job.metadata.target_branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.requested_by">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The user who initiated this job."
                mdTooltipPosition="right">
            Requested by
          </span>
        </e-data-label>
        <e-data-value>
          {{job.requested_by}}
        </e-data-value>
      </e-data>
    </div>
  </e-card-content>
  <md-progress-bar mode="indeterminate" *ngIf="isProgressBarRequired && job && job.isUnfinished"></md-progress-bar>
</e-card>
