<e-card *ngIf="job" xmlns="http://www.w3.org/1999/html">
  <div class="job-info job__{{(!job ? 'info' : job.isFailed ? 'danger' : job.isSucceeded ? 'success' : 'info')}}">
      Job
      <a *ngIf="isJobNavigationRequired"
          appSegmentOn="click"
          [segmentEventData]="{appId: appId, job_id: job.job_id, status: job.status}"
          segmentEventIdentifier="ClickJobListDetailLink"
          appLiftOn="click"
          [liftEventData]="{appId: appId}"
          liftEventName="ClickJobListDetailLink"
          [appContextLink]="[{text: 'Open in new Tab', link: cloudUrl+'/'+job.job_id, target: '_blank' }]"
          appIframeLink="/applications/{{appId}}/{{job.job_id}}">{{job.job_id| slice:0:8}}</a>
      {{isJobNavigationRequired ? ': ' : (' ' + (job.job_id | slice:0:8) + ' : ')}}
      {{job.message}}
  </div>
  <e-card-content>
    <div id="job-details-1"
         class="flex-container"
         fxLayout="row"
         fxLayoutWrap="wrap"
         fxLayoutAlign="start start">
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.metadata">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The Acquia Cloud environment to which this job will deploy code."
                mdTooltipPosition="right">
            Destination Environment
          </span>
        </e-data-label>
        <e-data-value id="job-deployment-link-value">
          <a *ngIf="job.isFinished && job.metadata.deployment_link"
             href="{{job.metadata.deployment_link}}" target="_blank">
            <e-svg-icon class="primary" type="alpha__globe"
                        size="small"
                        *ngIf="job.metadata && job.metadata.deployment_link"
                        style="cursor:pointer">
            </e-svg-icon>
            {{job.metadata.deployment_name}}
          </a>
          {{job.isUnfinished ? 'None' :
          (job.metadata.deployment_link ? '' : (job.metadata.deployment_name ? job.metadata.deployment_name : 'None'))}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.metadata && job.metadata.git_sha">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The commit reference from your git repo."
                mdTooltipPosition="right">
            Commit
          </span>
        </e-data-label>
        <e-data-value id="job-commit-value">
          <a *ngIf="job.metadata.commit_link" href="{{job.metadata.commit_link}}" target="_blank">
            {{job.metadata.git_sha | slice:0:8}}
          </a>
          {{job.metadata.commit_link ? '' : job.metadata.git_sha | slice:0:8}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="The duration for which this job ran."
                            mdTooltipPosition="right">
            Job Duration
          </span>
        </e-data-label>
        <e-data-value id="job-duration-value" *ngIf="job.isUnfinished">{{calculatedDuration}}</e-data-value>
        <e-data-value id="job-duration-finished-value" *ngIf="job.isFinished">{{job.duration | amDuration:'seconds'}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="Date and time when the job started."
                            mdTooltipPosition="right">
            Started at
          </span>
        </e-data-label>
        <e-data-value id="job-started-at-value">{{(job.started_at | amFromUnix) | amDateFormat:'MM/DD/YY hh:mmA'}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="The event that triggered this job. Possible triggers include:
                            1) Branch commit: A new commit was made to the repository.
                            2) Pull request: A pull request was submitted or updated"
                            mdTooltipPosition="right">
            Job Trigger
          </span>
        </e-data-label>
        <e-data-value id="job-trigger-value">{{job.triggerMessage}}</e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest && job.metadata">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="Link to the pull request that triggered this job."
                            mdTooltipPosition="right">
            Pull request
          </span></e-data-label>
        <e-data-value id="job-pull-request-value">
          <a *ngIf="job.metadata.pull_request_link"
             href="{{job.metadata.pull_request_link}}" target="_blank"
             appTrackOn="click"
             [trackEventData]="{appId: appId, job_id: job.job_id, status: job.status}"
             trackEventName="ClickPullRequestLinkJobSummary">
            PR {{job.metadata.pull_request}}
          </a>
          <span *ngIf="!job.metadata?.pull_request_link">
            {{ job.metadata?.pull_request ? ('PR ' +  job.metadata.pull_request)  : 'None'}}
          </span>
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="!job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                            mdTooltip="The git branch used to run this job."
                            mdTooltipPosition="right">
            Branch
          </span>
        </e-data-label>
        <e-data-value id="job-branch-value">
          {{job.branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The branch in which this job is created."
                mdTooltipPosition="right">
            Source branch
          </span>
        </e-data-label>
        <e-data-value id="job-source-branch-value">
          {{job.metadata.source_branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.isPullRequest">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The branch in which the source branch is merging with."
                mdTooltipPosition="right">
            Target branch
          </span>
        </e-data-label>
        <e-data-value id="job-target-branch-value">
          {{job.metadata.target_branch}}
        </e-data-value>
      </e-data>
      <e-data class="flex-item"
              fxFlex="25%"
              fxFlex.xs="50%"
              *ngIf="job.requested_by">
        <e-data-label>
          <span class="pipelines-job-summary__dotted"
                mdTooltip="The user who initiated this job."
                mdTooltipPosition="right">
            Requested by
          </span>
        </e-data-label>
        <e-data-value id="job-requested-by-value">
          {{job.requested_by}}
        </e-data-value>
      </e-data>
    </div>
  </e-card-content>
  <md-progress-bar mode="indeterminate" *ngIf="isProgressBarRequired && job && job.isUnfinished"></md-progress-bar>
</e-card>
