@import "../../../assets/scss/elemental-core.scss";

.el-select-list__options {
  height: px-to-relative(200px);
  max-height: px-to-relative(200px);
  overflow: auto;
}

/deep/ md-dialog-container.mat-dialog-container {
  padding: 0;
  width: px-to-relative(520px);
  height: auto;
  overflow: visible;
  background: transparent;

  section.el-card {
    margin-bottom: 0;
    min-width: 0%; // Fixes el-card with small devices
  }
}

label.el-form-leg__item__label {
  display: inline-block;
}

/deep/ app-select-list div.el-form-leg__item {

  padding-top: 0;

  label.el-form-leg__item__label {
    padding: 0;
    margin: 0;
  }
}

e-progress.loading-repos {
  display: inline-block;
  float: right;
  padding-top: 0.5rem;

  /deep/ .el-progress__loader {
    position: relative;
    z-index: 100;
    padding-top: px-to-relative(5px);
  }
}
