<h1 class="page-title">Application Information</h1>
<a appIframeLink="/jobs/{{appId}}" class="el-button el-button--primary">View Jobs</a>
<a appIframeLink="/auth/github/{{appId}}" class="el-button el-button--primary"
   appSegmentOn="click"
   [segmentEventData]="{appId: appId}"
   segmentEventIdentifier="ClickReAuthGithub">Re-Authorize</a>
<e-card *ngIf="!appLoading">
    <e-card-header>
      Connected repository information
      <div id="repoInfo">
        <e-svg-icon *ngIf="vcsType && vcsType === 'git'" type="logos__github" size="medium">
        </e-svg-icon>
        <svg *ngIf="vcsType && vcsType ==='acquia-git'"
             class="el-iconography__icon el-iconography__icon--is-medium">
          <image height="28px" xlink:href="../assets/acquia.svg" width="28px"></image>
        </svg>
        {{repoFullName}}
      </div>
    </e-card-header>
  <e-card-content>
    <h3>GitHub repository</h3>

    <e-data>
      <e-data-label>URL</e-data-label>
      <e-data-value>
        <e-clipboard inputText="{{gitUrl}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <!--
      @todo: MS-2573 | Add metadata about the linked repository and rely on GitHub's
      UI instruction for cloning the connected repository
    -->
    <h4>Commands</h4>
    <p>Here are a few commands to get you started using any Git repository</p>

    <e-data>
      <e-data-label>Clone - copy a Git repository to work with locally</e-data-label>
      <e-data-value>
        <e-clipboard inputText="{{gitClone}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Stage - prepare changed files to be committed</e-data-label>
      <e-data-value>
        <e-clipboard inputText="{{gitAdd}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Commit - save a local snapshot of staged files</e-data-label>
      <e-data-value>
        <e-clipboard inputText="{{gitCommit}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Push - push local commits to a remote repository</e-data-label>
      <e-data-value>
        <e-clipboard inputText="{{gitPush}}"></e-clipboard>
      </e-data-value>
    </e-data>

  </e-card-content>
</e-card>

<e-progress *ngIf="appLoading"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
