<app-action-header [appId]="appId"
                   [showViewInfo]="true"
                   [repoName]="repoFullName"
                   pageType="info">
</app-action-header>

<e-card *ngIf="!appLoading">
  <e-card-header>
    Connected repository information
    <div id="repoInfo">
      <app-repo-type-icon [repoType]="vcsType"></app-repo-type-icon>
      {{repoFullName}}
    </div>
  </e-card-header>
  <e-card-content>
    <h3>{{repositoryType}} repository</h3>
    <a appIframeLink="/applications/{{appId}}/info/configure" class="configure-link"
       appTrackOn="click"
       [trackEventData]="{appId: appId}"
       trackEventName="ClickApplicationInfoConfigure">Configure</a>
    <e-data>
      <e-data-label>URL</e-data-label>
      <e-data-value>
        <e-clipboard id="repo-URL" inputText="{{gitUrl}}"></e-clipboard>
      </e-data-value>
    </e-data>
    <e-data id="webhooks" *ngIf="vcsType === 'acquia-git'">
      <e-data-label>
        Webhooks
        <!--
          @todo: MS-3384 | Add learn more link
          UI link for 'Learn more' when docs link (Webhooks for Pipelines) is available
          <a>Learn more</a>
        -->
      </e-data-label>
      <select *ngIf="webhook !== 'not-reachable'" [(ngModel)]="webhook" (change)="updateWebhooks()" disabled="{{appLoading}}">
        <option value="enabled">Enabled</option>
        <option value="disabled">Disabled</option>
      </select>
      <span *ngIf="webhook === 'not-reachable'">
        Oops! Looks like we are unable to retrieve the webhooks information.
      </span>
    </e-data>

    <!--
      @todo: MS-2573 | Add metadata about the linked repository and rely on GitHub's
      UI instruction for cloning the connected repository
    -->
    <h4>Commands</h4>
    <p>Here are a few commands to get you started using any Git repository</p>

    <e-data>
      <e-data-label>Clone - copy a Git repository to work with locally</e-data-label>
      <e-data-value>
        <e-clipboard id="command-clone" inputText="{{gitClone}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Stage - prepare changed files to be committed</e-data-label>
      <e-data-value>
        <e-clipboard id="command-stage" inputText="{{gitAdd}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Commit - save a local snapshot of staged files</e-data-label>
      <e-data-value>
        <e-clipboard id="command-commit" inputText="{{gitCommit}}"></e-clipboard>
      </e-data-value>
    </e-data>

    <e-data>
      <e-data-label>Push - push local commits to a remote repository</e-data-label>
      <e-data-value>
        <e-clipboard id="command-push" inputText="{{gitPush}}"></e-clipboard>
      </e-data-value>
    </e-data>

  </e-card-content>
</e-card>

<e-progress *ngIf="appLoading"
            class="page-loading"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
