<div id="top-level-nav" class="el-header flex-container"
     fxLayoutAlign="start center"
     fxLayoutAlign.xs="center start"
     fxLayout="row"
     fxLayout.xs="column">
  <div id="brand-info" class="flex-item">
    <a class="flex-container" fxLayoutAlign="start center" fxLayout="row" href="/">
      <img id="pipelines-logo" class="flex-item" src="../assets/pipelines-logos/pipelines_50x50.png">
      <span id="pipelines-logo-text" class="flex-item" fxHide="TRUE" fxShow.lg="TRUE" fxShow.xs="TRUE">
        Acquia Pipelines
      </span>
    </a>
  </div>
  <div id="nav-links" class="flex-item" *ngIf="(!media.isActive('xs')) || (media.isActive('xs') && showMenu)">
    <ul>
      <li>
        <a id="cloud-nav-link" class="flex-container"
           href="https://cloud.acquia.com/app/develop"
           appTrackOn="click"
           [trackEventData]="{appId: ''}"
           trackEventName="ClickNavigateToCloudDevelop"
           fxLayoutAlign="start center"
           fxLayout="row">
          <e-svg-icon class="flex-item" type="sections__applications"
                      fxHide.sm="TRUE"
                      size="medium"
                      style="cursor:pointer">
          </e-svg-icon>
          <span class="flex-item el-iconography__label"> Develop </span>
        </a>
      </li>
      <li>
        <a id="manage-nav-link" class="flex-container"
           href="https://cloud.acquia.com/app/manage"
           appTrackOn="click"
           [trackEventData]="{appId: ''}"
           trackEventName="ClickNavigateToCloudManage"
           fxLayoutAlign="start center"
           fxLayout="row">
          <e-svg-icon class="flex-item" type="actions__manage"
                      fxHide.sm="TRUE"
                      size="medium"
                      style="cursor:pointer">
          </e-svg-icon>
          <span class="flex-item el-iconography__label"> Manage </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Avatar -->
  <a id="hamburger-menu" class="top-right" *ngIf="media.isActive('xs')">
    <e-svg-icon *ngIf="showMenu" type="actions__close"
                (click)="toggleMenu()"
                size="medium">
    </e-svg-icon>
    <e-svg-icon *ngIf="!showMenu" type="actions__hamburger-menu"
                (click)="toggleMenu()"
                size="medium">
    </e-svg-icon>
  </a>

  <!-- Hamburger menu -->
  <a id="avatar" class="top-right" *ngIf="!media.isActive('xs')" (click)="toggleProfilePopover()">
    <img class="avatar" src="../../../assets/avatar.png"/>
  </a>

    <div id="profile-popover" *ngIf="!media.isActive('xs') && showProfilePopover" class="el-popover el-popover--placement-bottom el-popover--is-visible">
      <div class="el-popover__arrow"></div>
      <div id="profile-info-links" class="el-popover__content">
        <ul>
          <li>
            <a id="edit-pofile-link" href="https://accounts.acquia.com/account"
               appTrackOn="click"
               [trackEventData]="{appId: ''}"
               trackEventName="ClickNavigateToEditProfile">
              Edit profile
            </a>
          </li>
          <li>
            <a id="agreements-link" href="https://cloud.acquia.com/app/profile/agreements"
               appTrackOn="click"
               [trackEventData]="{appId: ''}"
               trackEventName="ClickNavigateToAgreements">
              Agreements
            </a>
          </li>
          <li>
            <a id="tokens-link" href="https://cloud.acquia.com/app/profile/tokens"
               appTrackOn="click"
               [trackEventData]="{appId: ''}"
               trackEventName="ClickNavigateToAPITokens">
              API tokens
            </a>
          </li>
          <li>
            <a id="logout-link" href="https://cloud.acquia.com/user/logout"
               appTrackOn="click"
               [trackEventData]="{appId: ''}"
               trackEventName="ClickSignOut">
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>


