<span class="repo-type" [ngSwitch]="repoType">
  <e-svg-icon *ngSwitchCase="'github'"
              type="logos__github"
              size="medium"
              appTooltip="Using GitHub"
              tooltipPosition="left">
  </e-svg-icon>
  <svg *ngSwitchCase="'bitbucket'"
       class="el-iconography__icon el-iconography__icon--is-medium"
       appTooltip="Using Bitbucket"
       tooltipPosition="left">
    <image height="28px" xlink:href="../assets/bitbucket.svg" width="28px"></image>
  </svg>
  <svg *ngSwitchCase="'acquia-git'"
       class="el-iconography__icon el-iconography__icon--is-medium"
       appTooltip="Using Acquia Git"
       tooltipPosition="left">
    <image height="28px" xlink:href="../assets/acquia.svg" width="28px"></image>
  </svg>
</span>
