<span *ngIf="progressType == 'indeterminate' && progressVariant == 'arrows'">
  <e-svg-icon class="el-iconography--animation-spin-reverse el-iconography--without-label"
              type="feedback__autocompleting" animation="spin-reverse" without-label="true"></e-svg-icon>
</span>

<div *ngIf="progressType == 'indeterminate' && progressVariant == 'dots'">
  <div class="el-progress__loader el-progress__loader__dot--is-{{progressSize}}">
    <div class="el-progress__loader__dot__inner">
      <div class="el-progress__loader__node"></div>
      <div class="el-progress__loader__node"></div>
      <div class="el-progress__loader__node"></div>
    </div>
  </div>
</div>
