@import "../../../assets/scss/elemental-core.scss";

.e-tabs-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $color-neutral-1;
}

.e-tabs-nav li {
  float: left;
  display: inline-block;
  text-align: center;
  padding: px-to-relative(14px) px-to-relative(16px);
  text-decoration: none;
  cursor: pointer;
  border-bottom: $color-neutral-2 solid px-to-relative(3px);
  max-height: px-to-relative(42px);

  &.active {
    border-bottom: $color-brand_primary-7 solid px-to-relative(3px);
  }
}
