@import "../../assets/scss/elemental-core.scss";

:host {
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

@media (max-width: px-to-relative(320px)) {
  :host {
    padding: 1rem;
  }
}
