<div id="applications-list" *ngIf="isInitialized && applications?.length">

  <h3 id="applications-list-header" class="ui-core-set-head-title">Applications</h3>
  <hr/>
  <li *ngFor="let application of applications">
    <div class="flex-container application-row" fxLayout="row" fxLayoutAlign="start start">
      <app-job-status class="flex-item svg-icon"
                      *ngIf="application.latest_job?.status"
                      [status]="application.latest_job.status"></app-job-status>
      <e-svg-icon class="flex-item svg-icon" type="actions__info"
                  *ngIf="!application.latest_job?.status">
      </e-svg-icon>
      <div class="flex-item latest-job-primary-info">
        <div class="flex-container" fxLayout="column" fxLayoutAlign="start start">
          <div class="flex-item latest-job-primary-info">
            <div class="flex-container" fxLayout="row" fxLayoutAlign="start start">
              <a class="flex-item application-name"
                 appTrackOn="click"
                 [trackEventData]="{appId: application.uuid}"
                 trackEventName="ClickApplicationsListApplicationLink"
                 appIframeLink="/applications/{{application.uuid}}">{{application.name}}</a>
              <span class="flex-item" *ngIf="application.latest_job"># <a class="flex-item"
                      appTrackOn="click"
                      [trackEventData]="{appId: application.uuid, job_id: application.latest_job.job_id, status: application.latest_job.status}"
                      trackEventName="ClickApplicationsListLastestJobLink"
                      appIframeLink="/applications/{{application.uuid}}/{{application.latest_job.job_id}}"
                      appTooltip="{{application.latest_job.job_id}}"
                      tooltipPosition="right">
                {{application.latest_job.job_id | slice:0:8}}</a>
              </span>
            </div>
          </div>
          <span class="flex-item latest-job-secondary-info" *ngIf="application.latest_job" >
           {{application.latest_job.isFinished ? 'Finished:' : 'Started:'}} {{
             application.latest_job.isFinished ? ((application.latest_job?.finished_at | amFromUnix) | amTimeAgo) :
             ((application.latest_job?.requested_at | amFromUnix) | amTimeAgo)
            }}
          </span>

          <span class="flex-item latest-job-secondary-info" *ngIf="!application.latest_job" >
           There are no jobs available.
          </span>
        </div>
      </div>
    </div>
  </li>
</div>

<e-progress *ngIf="loadingApplications && !isInitialized"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
