<h1>Pipelines</h1>
<p>Pipelines Environments provide out-of-the-box, GitHub or Acquia git driven feature branch workflow support on Acquia
  Cloud.</p>
<h2>Connect with Github</h2>
<p>Attach a remote Github repository containing your build assets to enable automatic Pipelines builds with new commits
  and pull requests.</p>
<div class="github-connect" id="connect-app">
  <form id="auth-form" action="{{oauthUrl}}?applications={{appId}}" method="POST" target="_top">
    <input type="hidden" name="finish_url" value="{{finishUrl}}">
    <input type="hidden" name="n3_endpoint" value="{{n3Endpoint}}">
    <input type="hidden" name="applications" value="{{appId}}">
  </form>
  <e-button text="Connect to Github" type="primary" (click)="authenticate()" [disabled]="authorized"></e-button>
  <span *ngIf="authorized">Your github is connected</span>
</div>
<div class="github-connect" *ngIf="authorized" id="select-repo">
  <e-button text="Select Github repository" type="primary" (click)="selectRepository()" [disabled]="loading"></e-button>
</div>
<div id="setting-up-pipelines-indicator" *ngIf="loading">
  <md-progress-bar mode="indeterminate" style="width: 80%; margin-left: 10%"></md-progress-bar>

  <h3 class="center">Setting up pipelines</h3>
</div>
