<div *ngIf="isInitialized">
  <app-action-header [appId]="appId" [repoName]="repoFullName"
                     [showViewInfo]="true"
                     [showStartJob]="staticInfo && jobs?.length">
  </app-action-header>

  <app-job-summary *ngIf="lastJob && appId"
                   [isProgressBarRequired]="false"
                   [appId]="appId"
                   [job]="lastJob"></app-job-summary>
  <div *ngIf="jobs && jobs.length" id="filter" class="flex-container" fxLayout="row" fxLayoutAlign="end center" [@fadeInUp]>
    <input class="flex-item"
           fxFlex="none"
           fxFlex.xs="100%"
           type="search"
           size="30"
           placeholder="Filter jobs by branch or status"
           appTooltip="Search by status;
                      Search succeeded or failed jobs typing keywords: Pass, Success, Succeeded, fail, failed, error, errored;
                      Search by branch name;
                      Search by trigger type typing keywords:  PR, or pull request, branch, pull."
           tooltipPosition="below"
           value="{{filterText}}"
           (input)="filterSubject.next($event.target.value)">
  </div>

  <e-card *ngIf="isInitialized && pipelinesEnabled" id="job-list">
    <e-card-header>
      {{(jobs && !jobs.length) ? 'Activity' : 'Jobs'}}
      <div id="filter-info">
        <span id="filtered-text" *ngIf="filterText !== ''"> filtered with "{{ filterText }}". </span>
        <a id="clear-filter" *ngIf="filterText !== ''" (click)="clearFilter()">Clear Filter</a>
      </div>
      <a id="repoInfo"
         *ngIf="repoFullName !== ''"
         routerLink="/applications/{{appId}}/info"
         appTrackOn="click"
         [trackEventData]="{appId: appId}"
         trackEventName="ClickRepoNameApplicationInfo">
        <app-repo-type-icon [repoType]="vcsType"></app-repo-type-icon>
        {{repoFullName}}
      </a>
    </e-card-header>
    <e-card-content>

      <!-- No Jobs? -->
      <app-no-jobs [appId]="appId" [vcsType]="vcsType" *ngIf="jobs && !jobs.length"></app-no-jobs>

      <!--List of Jobs-->
      <e-tabs *ngIf="jobs.length">
        <e-tab tabTitle="Activity">
          <app-job-list [appId]="appId" [jobs]="filteredJobs" *ngIf="jobs.length"></app-job-list>
          <div class="center show-more" *ngIf="showMoreJobsLink" (click)="showMoreJobs()">
            <a id="show-more-jobs"
               appTrackOn="click"
               [trackEventData]="{appId: appId}"
               trackEventName="ClickShowMoreJobsLink"
               *ngIf="!showMoreJobsLoading">
              Show more
            </a>
            <e-progress *ngIf="showMoreJobsLoading" progressType="indeterminate" progressSize="medium"
                        progressVariant="dots">
            </e-progress>
          </div>
        </e-tab>
      </e-tabs>
    </e-card-content>
  </e-card>
</div>

<e-progress *ngIf="loadingJobs && !jobs.length && !isInitialized"
            class="page-loading"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
