<div *ngIf="isInitialized">

  <h1 class="page-title">Job List</h1>

  <e-button id="start-job-top"
            *ngIf="jobs?.length"
            text="Start Job"
            type="primary"
            (click)="startJob()"></e-button>
  <a id="config-link" class="{{!jobs?.length ? 'config-link-no-jobs' : 'config-link'}}"
     appIframeLink="/application/{{appId}}"
     appSegmentOn="click"
     [segmentEventData]="{appId: appId}"
     segmentEventIdentifier="ClickConnectionInfoJobsList">View Connection Info</a>
  <app-job-summary *ngIf="lastJob && appId"
                   [isProgressBarRequired]="false"
                   [appId]="appId"
                   [job]="lastJob"></app-job-summary>

  <e-card *ngIf="isInitialized">
    <e-card-header>
      Activity
      <a id="repoInfo"
         appIframeLink="/application/{{appId}}"
         appSegmentOn="click"
         [segmentEventData]="{appId: appId}"
         segmentEventIdentifier="ClickRepoNameApplicationInfo">
        <e-svg-icon *ngIf="vcsType === 'github'"
                    type="logos__github"
                    size="medium"
                    mdTooltip="Using GitHub"
                    mdTooltipPosition="left">
        </e-svg-icon>
        <svg *ngIf="vcsType ==='acquia-git'"
             class="el-iconography__icon el-iconography__icon--is-medium"
             mdTooltip="Using Acquia Git"
             mdTooltipPosition="left">
          <image height="28px" xlink:href="../assets/acquia.svg" width="28px"></image>
        </svg>
        {{repoFullName}}
      </a>
    </e-card-header>
    <e-card-content>

      <!-- No Jobs? -->
      <app-no-jobs [appId]="appId" [vcsType]="vcsType" *ngIf="jobs && !jobs.length"></app-no-jobs>

      <!--List of Jobs-->
      <app-job-list [appId]="appId" [jobs]="jobs" *ngIf="jobs.length"></app-job-list>
    </e-card-content>
  </e-card>
</div>

<e-progress *ngIf="loadingJobs && !jobs.length && !isInitialized"
            progressType="indeterminate"
            progressVariant="dots">
</e-progress>
