<div *ngIf="isInitialized">

  <h1 class="page-title">Job List</h1>

  <e-button text="Start Job"
  type="primary"
  (click)="startJob()"></e-button>

  <a id="config-link" routerLink="/application/{{appId}}">View Connection Info</a>
  <app-job-summary *ngIf="lastJob && appId" [isProgressBarRequired]="false" [appId]="appId" [job]="lastJob"></app-job-summary>

  <e-card *ngIf="isInitialized">
    <e-card-header>Activity</e-card-header>
    <e-card-content>

      <!-- No Jobs? -->
      <div id="no-jobs" class="center" *ngIf="jobs && !jobs.length">
        <h3>You have no jobs for this application</h3>
        <!-- @todo MS-2572 | Add "Learn More" link that points to product docs instructing users how to setup Pipelines Build jobs -->
      </div>

      <!--List of Jobs-->
      <app-job-list [appId]="appId" [jobs]="jobs" *ngIf="jobs.length"></app-job-list>
    </e-card-content>
  </e-card>
</div>

<e-progress *ngIf="loadingJobs && !jobs.length && !isInitialized"
  progressType="indeterminate"
  progressVariant="dots">
</e-progress>
