@import "../../../assets/scss/elemental-core.scss";

#pipelines-info-container {

  margin: $rhythm-unit 0;
  max-height: none !important;

  .disabled {
    opacity: 0.2;
  }

  .image-container {
    height: 9rem;
    margin-bottom: 2rem;
  }

  h4 {
    height: 2rem;
  }


  #pipelines-logo {
    margin-top: px-to-relative(12px);
  }

  #configure-source {
    @media (max-width: px-to-relative(600px)) {
      border-bottom: 1px solid $color-neutral-2;
      padding-bottom: $rhythm-unit;
    }
  }

  #start-job {
    border-left: 1px solid $color-neutral-2;
    border-right: 1px solid $color-neutral-2;
    @media (max-width: px-to-relative(600px)) {
      border-left:0;
      border-right: 0;
      border-bottom: 1px solid $color-neutral-2;
    }
  }

  .vcs-icon {
    position: relative;
    display: inline-block;
  }

  .vcs-success-icon {
    position: absolute;
    top: px-to-relative(62px);
    right: px-to-relative(5px);
    z-index: 1000;
  }

}

h2 {
  margin-bottom: 0.5rem;
}

a {
  cursor: pointer;
}

#no-jobs {
  padding-top: 1rem;

  span {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
