<div id="flash-message" class="flash-message {{type}}" *ngIf="isFlashOpen()">
  <a class="close" (click)="closeFlash()">×</a>
  <i class="material-icons md-48"> {{type}}</i> {{message}} <a ngclass="details" (click)="moreDetails()" *ngIf="details">Show details</a>.
</div>
<div id="flash-message-dialog" class="flash-message-dialog el-dialog el-dialog--modal el-dialog--is-active" *ngIf="isDetailsOpen()">
  <div class="el-dialog__window">
    <e-card>
      <e-card-header>More details</e-card-header>
      <e-card-content>
        <pre>{{details | json:2}}</pre>
      </e-card-content>
      <e-card-footer>
        <e-button text="Close" type="link" (click)="closeDetails()"></e-button>
      </e-card-footer>
    </e-card>
  </div>
  <div class="el-dialog__backdrop" (click)="closeDetails()"></div>
</div>
