.flash-message {
  position: fixed;
  top: -100%;
  right: 20px;
  z-index: 10000;
  padding: 15px 30px 15px 40px;
  border: 1px solid transparent;
  border-radius: 4px;

  -webkit-box-shadow: 4px 3px 17px 0px rgba(51, 50, 50, 0.81);
  -moz-box-shadow: 4px 3px 17px 0px rgba(51, 50, 50, 0.81);
  box-shadow: 4px 3px 17px 0px rgba(51, 50, 50, 0.81);

  /deep/ e-svg-icon {
    position: absolute;
    left: 10px;
    top: 14px;
  }

  &.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.alert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  &.show {
    top: 24px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  a {
    color: inherit;
    font-weight: bold;
    cursor: pointer;
  }

  a.close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

}

.flash-message-dialog {

  /deep/ section.el-card {
    margin-bottom: 0;

    .el-card__body {

      .card__content {
        padding: 0;
      }

      height: 200px;
      overflow: overlay;
      background: ghostwhite;

      pre {
        background: inherit;
        margin: 0;
        border-radius: 0;
        border: 0;
        color: #000;
        font-size: 12px;
      }
    }
  }
}
