<h1 class="page-title">Welcome to Pipelines</h1>
<section id="landing-page" *ngIf="!loading">
  <h2>Acquia Pipelines allows Acquia Cloud users to continuously develop, test,
 and deploy their applications, both ensuring code quality and exposing bugs or
 build failures earlier in the development process. Using Acquia Pipelines
 provides access to to the following features:</h2>
  <ul id="feature-list">
    <li *ngFor="let feature of features" id="feature-{{feature.name}}">
      <p class="feature-text">{{feature.text}}</p>
    </li>
  </ul>

  <h3> Requirements </h3>
  <ul id="requirements">
    <li *ngFor="let requirement of requirements" id="know-more-{{requirement.name}}">
      <p class="requirement-text">{{requirement.text}}</p>
    </li>
  </ul>
  <h3> Know more </h3>
  <ul id="know-more">
    <li *ngFor="let more of knowMore" id="requirements-{{more.name}}">
      <p class="more-text">{{more.text}}</p>
      <ul id="know-more-{{more.name}}" style="list-style: circle">
        <li *ngFor="let resource of more.resources">
          <a target="_blank" href="{{resource.url}}"> {{resource.title}} </a>
        </li>
      </ul>
    </li>
  </ul>

  <div id="action-area">
    <e-button id="go-button" text="Go!" (click)="go()"></e-button>
  </div>
</section>
<md-progress-spinner id="loader" mode="indeterminate" *ngIf="loading"></md-progress-spinner>
