
@import "../../../assets/scss/elemental-core.scss";

.el-alert {
  border: 1px solid black;
  padding: px-to-relative(24px);
  margin-bottom: 1.5rem;
  padding-left: px-to-relative(60px);
  position: relative;

  .state-icon {
    position: absolute;
    left: px-to-relative(24);
    top: px-to-relative(20px);
  }
}

.el-alert__success {
  background-color: $color-state-success-1;
  border-color: $color-state-success-9;
}

.el-alert__warning {
  background-color: $color-state-warning-2;
  border-color: $color-state-warning-9;
}

.el-alert__info {
  background-color: $color-brand-primary-1;
  border-color: $color-brand-primary-9;
}

.el-alert__danger {
  background-color: $color-state-danger-1;
  border-color: $color-state-danger-7;
}
