<div id="errorContainer" class="flex-container"
     fxLayout="column"
     fxLayoutAlign="start center">
  <div id="errorMessage" class="flex-item">
    <h2 class="ui-cloud__cmp__base-error__title">{{errorCode}} : {{errorTitle}} </h2>
  </div>
  <div id="errorRedirect" class="flex-item">
    <p class="ui-cloud__cmp__base-error__preamble">
      <!--{{this.errorMessage}} <br/>-->
      <!-- TODO: MS-2925 -->
      <!--We recommend going back to the <a routerLink={{tagLink}}> {{tagMessage}} </a>.-->

      We recommend trying to refresh the page <a href="" onclick="window.parent.location = document.referrer;">here</a>.
    </p>
  </div>
</div>
