<md-card id="auth-tokens-card">

  <div class="center">
    <img src="/assets/pipelines-logos/pipelines_100x100.png" alt="Acquia Pipelines Token Authentication">
  </div>

  <h1 class="center">Log into Pipelines</h1>

  <br>
  <hr>
  <br>

  <h3>Acquia Pipelines allows you to leverage Single Sign-on with Acquia Cloud.</h3>

  <section id="instructions" *ngIf="!loading">
    <h4>To sign in:</h4>
    <ol>
      <li>Log into <a href="https://cloud.acquia.com" target="_blank">cloud.acquia.com
        <e-svg-icon *ngIf="loggedIn" class="success" type="state__success--circle">check_circle</e-svg-icon>
      </a>
      </li>
      <li>Refresh this page
        <e-svg-icon *ngIf="loggedIn" class="success" type="state__success--circle">check_circle</e-svg-icon>
      </li>
      <li>Enter your application ID (located at the end of your Acquia Cloud application’s URL - https://cloud.acquia.com/app/develop/applications/[application id]):</li>
    </ol>
  </section>

  <form id="auth-token-form" (ngSubmit)="login()" #tokenForm="ngForm" *ngIf="!loading">
    <input class="full-width" placeholder="Application ID" [(ngModel)]="appId" name="AppId" type="text" required
           [disabled]="loading">
    <div class="center">
      <button md-raised-button color="primary" type="submit">Sign In</button>
    </div>
  </form>

  <!-- Loading indicator -->
  <md-progress-spinner style="margin: 76px auto;" *ngIf="loading" mode="indeterminate"></md-progress-spinner>
</md-card>
