<md-card id="auth-tokens-card">

  <div class="center">
    <img src="/assets/pipelines-logos/pipelines_100x100.png" alt="Acquia Pipelines Token Authentication">
  </div>

  <h1 class="center">Log into pipelines</h1>
  <h2 class="gray center">With N3 tokens</h2>

  <hr>
  <br>

  <form id="auth-token-form" (ngSubmit)="login()" #tokenForm="ngForm">
    <input class="full-width" placeholder="Application ID" [(ngModel)]="appId" name="AppId" type="text" required>
    <br>
    <input class="full-width" placeholder="N3 Access Key" [(ngModel)]="n3Key" name="N3AccessKey" type="text" required>
    <br>
    <input class="full-width" placeholder="N3 Secret" [(ngModel)]="n3Secret" type="password" name="N3Secret" required>
    <br>
    <input class="full-width" placeholder="Beta Access Code" [(ngModel)]="accessCode" type="password"
           name="BetaAccessCode" required>
    <br><br>
    <div class="center">
      <button md-raised-button color="primary" type="submit">Sign In</button>
    </div>
  </form>
</md-card>
