:host {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: px-to-relative(24px);
}

#auth-tokens-card {
  position: absolute;
  max-width: 800px;
  width: 80%;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#auth-token-form {
  input {
    margin-bottom: 18px;
  }
}
