@import "../../../assets/scss/elemental-core.scss";

/deep/ md-dialog-container {
  padding: 0;
  width: px-to-relative(520px);
  height: auto;
  overflow: visible;
  background: transparent;

  section.el-card {
    margin-bottom: 0;
    min-width: 0%; // Fixes el-card with small devices
  }

  h4 {
    margin-bottom: 0;
  }
}
