@import "../../../assets/scss/elemental-core.scss";

/deep/ md-dialog-container.mat-dialog-container {
  padding: 0;
  width: px-to-relative(520px);
  height: auto;
  overflow: visible;
  background: transparent;

  section.el-card {
    margin-bottom: 0;
    min-width: 0%; // Fixes el-card with small devices
  }

  h4 {
    margin-bottom: 0;
  }

  #btn-start button {
    margin-bottom: 0.0;  //fixes shrinking context help view while start button disappears
  }

  .el-data__label {
    margin-bottom: 0.375rem;
  }

  #branch-info {
    position:relative;
    width: 100%;

    #branch-input {
      position: relative;
      width: 100%;
    }

    #btn-start {
      margin: 0 $rhythm-unit;
    }
  }

  hr {
    border: 1px solid $color-neutral-2;
  }

  .highlight {
    color: $color-brand-primary-10;
  }

  #branch-suggestions {
    position: absolute;
    max-height: px-to-relative(225.5px);
    overflow: auto;
    color: $color-neutral-11;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: inherit;
    z-index: 1000;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0 0.75rem;
        cursor: pointer;
        background-color: $color-neutral-1;
        font-size: $text-size-h6;
        font-weight: 400;
        line-height: px-to-relative(48px);
      }

      li:hover {
        background-color: $color-neutral-2;
      }
    }
  }

  .start-job-help {
    color: $color-neutral-9;
    font-style: italic;
    text-align: center;

    @media (max-width: px-to-relative(600px))  {
      margin: 0;
      padding: 0;
    }
  }

  .left-link {
    float: left;
    button {
      padding-left: 0;
      margin-left: 0;
    }
  }

  .right-link {
    float: right;
  }

  .el-card__footer e-progress {
    position: relative;
    display: block;
    width: px-to-relative(68px);
    height: px-to-relative(34px);
  }

  e-card-footer {
    .footer-link {
      button {
        text-align: left;
      }

      @media (max-width: 360px) {
        width: px-to-relative(90px);
        margin-top: -0.5rem;
      }

      @media (min-width: 360px) and (max-width: 420px) {
        width: px-to-relative(120px);
        margin-top: -0.5rem;
      }

      @media (min-width: 420px) and (max-width: 520px) {
        width: px-to-relative(180px);
        margin-top: -0.5rem;
      }

      @media (min-width: 520px) and (max-width: 600px) {
        width: px-to-relative(250px);
        margin-top: -0.5rem;
      }

    }
  }

}
