<e-card>
  <e-card-header>{{startJobHelp ? 'How to start a job': 'Start a job'}}</e-card-header>
  <e-card-content *ngIf="!startJobHelp">
    <p class="start-job-help">Pipelines uses the acquia-pipelines.yaml file in the root of your repo to build, test, and deploy your application</p>

    <app-select-list title='Select branch'
                      [options]='branches'
                      filterPlaceholder='Filter Branches'
                      (selected)="setBranch($event)"></app-select-list>
  </e-card-content>

  <e-card-content *ngIf="startJobHelp">
    <p>
      {{isDirectStartAvailable ? 'The following actions will also start a job:' :
      'Completing any of the following actions will start your build job:'}}
    </p>
    <ul>
      <li>Add a file to a repository.</li>
      <li>Create a branch in your repository.</li>
      <li>Create a pull request.</li>
      <li>Run the pipelines start command -
      <a appTrackOn="click"
         [trackEventData]="{appId: appId}"
         trackEventName="ClickLearnMoreAboutCli"
         href="https://docs.acquia.com/pipelines/client#start" target="_blank">Learn more.</a></li>
    </ul>
    <p>
      <a appTrackOn="click"
         [trackEventData]="{appId: appId}"
         trackEventName="ClickLearnMoreAboutGit"
         href="https://docs.acquia.com/acquia-cloud/develop/repository/git" target="_blank">Learn more about using Git.</a>
    </p>
  </e-card-content>
  <e-card-footer>
    <e-button class="left-link" text="Learn how to start jobs automatically"
              type="link" (click)="showHelp()" *ngIf="!startJobHelp"></e-button>
    <e-button class="left-link" text="Go back and start a job"
              type="link" (click)="hideHelp()" *ngIf="startJobHelp"></e-button>
    <e-button class="right-link" id="btn-start" text="Start"
              *ngIf="isDirectStartAvailable && !didJobStart && !startJobHelp"
              appTrackOn="click"
              [trackEventData]="{appId: appId, branch: branch}"
              trackEventName="ClickDirectStartJob"
              type="primary" [disabled]="!branch || branch === '' || didJobStart" (click)="start()">
    </e-button>
    <e-progress class="right-link" *ngIf="isDirectStartAvailable && didJobStart && !startJobHelp"
                id="dot-loader" progressType="indeterminate" progressVariant="dots" progressSize="small">
    </e-progress>
    <e-button class="right-link" text="Close" type="link" (click)="dialogRef.close()"></e-button>
  </e-card-footer>
</e-card>
