<e-card>
  <e-card-header>How to start a job</e-card-header>
  <e-card-content>
    <p>Completing any of the following actions will start your build job:</p>
    <ul>
      <li>Add a file to a repository.</li>
      <li>Create a branch in your repository.</li>
      <li>Create a pull request.</li>
      <li>Run the pipelines start command -
      <a appSegmentOn="click"
         [segmentEventData]="{appId: appId}"
         segmentEventIdentifier="ClickLearnMoreAboutCli"
         href="https://docs.acquia.com/pipelines/client#start" target="_blank">Learn more.</a></li>
    </ul>
    <p>
      <a appSegmentOn="click"
         [segmentEventData]="{appId: appId}"
         segmentEventIdentifier="ClickLearnMoreAboutGit"
         href="https://docs.acquia.com/acquia-cloud/develop/repository/git" target="_blank">Learn more about using Git.</a>
    </p>
    <e-data>
      <e-data-label>
        Type the branch name to start a job
      </e-data-label>
      <div id="branch-info">
        <input type="search" size="100" [(ngModel)]="branch" (keyup)="filter()" placeholder="Branch Name" name="Branch">
        <div id="branch-suggestions">
          <ul *ngIf="branchSuggestions && (branchSuggestions.length > 0) && (branch !== '')">
            <li *ngFor="let branchSuggestion of branchSuggestions" (click)="select(branchSuggestion)">
              {{branchSuggestion|slice:0:(branchSuggestion.toLowerCase().indexOf(branch.toLowerCase()))}}
              <span class="highlight">
                {{branchSuggestion|
                  slice:(branchSuggestion.toLowerCase().indexOf(branch.toLowerCase())):
                        (branchSuggestion.toLowerCase().indexOf(branch.toLowerCase())+(branch.length))}}
              </span>
              {{branchSuggestion|
                slice:(branchSuggestion.toLowerCase().indexOf(branch.toLowerCase())+(branch.length)):
                      (branchSuggestion.length)}}
            </li>
          </ul>
        </div>
      </div>

    </e-data>
  </e-card-content>
  <e-card-footer>
    <e-button text="Close" type="link" (click)="dialogRef.close()"></e-button>
    <e-button text="Start" type="primary" [disabled]="!isValidBranch()" (click)="start()"></e-button>
  </e-card-footer>
</e-card>
