<e-card>
  <e-card-header>Choose a repository to attach</e-card-header>
  <e-card-content>
    <e-progress *ngIf="loading"
      progressType="indeterminate"
      progressVariant="dots"
      progressSize="medium"></e-progress>
    <div class="el-form-leg__item">
      <label class="el-form-leg__item__label">
        <span>Repositories({{repositories.length}})</span>
      </label>
      <div class="el-form-leg__item__control">
        <div class="el-select-list__filter">
          <input type="text" class="el-select-list__filter__input" placeholder="Filter" [(ngModel)]="repoInfo">
        </div>
        <div class="el-select-list__options">
          <div class="el-select-list__repeat-container md-virtual-repeat-container md-orient-vertical">
            <div class="md-virtual-repeat-scroller">
              <div class="md-virtual-repeat-sizer"></div>
              <div class="md-virtual-repeat-offsetter">
                <div class="el-select-list__option__wrapper" *ngFor="let repo of repositories | repositoryFilter:repoInfo">
                  <div class="el-select-list__option el-select-list__option--has-input" (click)="toggleOption(repo)">
                    <input type="radio" name="repo" [(ngModel)]="repository" [value]="repo">
                    <span title="master">{{repo.full_name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </e-card-content>
  <e-card-footer>
    <e-button text="Cancel" type="link" (click)="dialogRef.close()"></e-button>
    <e-button text="Continue" type="primary" (click)="dialogRef.close(repository)"></e-button>
  </e-card-footer>
</e-card>
