@import "../../../assets/scss/elemental-core.scss";

/deep/ md-dialog-container.mat-dialog-container {
  padding: 0;
  width: px-to-relative(650px);
  height: auto;
  overflow: visible;


  #encrypt-credentials {

    /deep/ e-tabs ul {
      background-color: white;
    }

    section.el-card {
      margin-bottom: 0;
      min-width: 0;
    }

    #encrypt-content {
      .el-card__content {
        padding: 0;
      }
    }

    e-card-footer {
      span {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        float: left;

        @media (max-width: px-to-relative(650px)){
          margin-top: 0;
          text-align: left;
          width: px-to-relative(300px);
        }

      }
    }

    #encrypt-ssh-keys {
      textarea {
        height: 14rem;
        max-height: 14rem;
      }
    }

  }

  #encrypt-variables, #encrypt-ssh-keys {

    e-progress {
      .el-progress__loader__dot--is-giant {
        position: initial;
      }
    }

    .intro-text {
      font-size: 0.875rem;
    }

    div {
      padding: $rhythm-unit;
    }

    .encrypt-btn {

      button {
        margin-left: 0.5rem;

        @media (min-width: px-to-relative(600px)) and (max-width: px-to-relative(770px)){
          padding: 0.25rem;
        }

        @media (max-width: px-to-relative(600px)){
          padding: 0.1rem;
          margin-left: 0;
        }
      }

      @media (min-width: px-to-relative(600px)) and (max-width: px-to-relative(750px)){
        padding: 0.3rem;
      }

      @media (max-width: px-to-relative(600px)){
        padding: 0.3rem;
      }

    }

    .input-item {
      width: px-to-relative(270px);
      margin-bottom: $rhythm-unit;
    }

    textarea {
      height: 11rem;
      max-height: 11rem;
    }

    e-progress {
      div {
        padding-top: 0;
        padding-left: 1rem;
      }
    }

    .encrypted-value {
      padding: 0;
    }

    .grayed-out {
      color: $color-neutral-9;
      padding: 0;
      margin: 0;
      background-color: black;
      font-size: 0.875rem;
      width: px-to-relative(200px);
      padding: $rhythm-unit;
      padding-bottom: 0;
      border-radius: 0;

      @media (min-width: px-to-relative(720px)) and (max-width: px-to-relative(800px)) {
        width: px-to-relative(180px);
      }

      @media (min-width: px-to-relative(600px)) and (max-width: px-to-relative(720px)) {
        width: px-to-relative(150px);
      }

      @media (max-width: px-to-relative(600px)){
        width: px-to-relative(120px);
      }
    }

    .drag-over {
      background-color: $color-brand-primary-7;
      opacity: 0.5;
    }

    e-clipboard {

      svg {
        margin-top: -3.75rem;
        margin-left: 0.25rem;
      }

      pre {
        padding: $rhythm-unit;
        padding-top: 0;
        padding-left: 3rem;
        height: 10.5rem;
        max-height: 10.5rem;
        width: px-to-relative(200px);
        overflow: auto;
        margin: 0;
        border: 0;
        border-radius: 0;
        color: white;
        font-size: 0.875rem;
        background-color: black;

        @media (min-width: px-to-relative(720px)) and (max-width: px-to-relative(800px)) {
          width: px-to-relative(180px);
        }

        @media (min-width: px-to-relative(600px)) and (max-width: px-to-relative(720px)) {
          width: px-to-relative(150px);
        }

        @media (max-width: px-to-relative(600px)){
          width: px-to-relative(120px);
        }
      }
    }
  }

  #encrypt-ssh-keys {
    e-clipboard {
      svg {
        margin-top: -2.5rem;
        margin-left: 0.25rem;
      }

      pre {
        height: 12rem;
        max-height: 12rem;
        padding-left: 2rem;
      }
    }

  }

}
