<e-card id="encrypt-credentials">

  <e-card-header>
    Encrypting credentials
  </e-card-header>

  <e-card-content id="encrypt-content">
   <e-tabs [isFullWidth]="true" (selected)="onTabSelection($event)">
     <e-tab tabTitle="Environment Variables">
      <div id="encrypt-variables" class="flex-container" fxLayout="row" fxLayoutAlign="space-between start">
        <div class="flex-item" fxFlex="39">
          <input id="variable-name" [(ngModel)]="environmentVariableName" class="input-item" type="text" placeholder="NAME_OF_VAR" />
          <textarea id="variable-value" [(ngModel)]="environmentVariableValue" class="input-item" placeholder="Text to encrypt"></textarea>
        </div>
        <div class="flex-item encrypt-btn" fxFlex="22%" fxFlexAlign="center">
          <e-button text="Encrypt >"
                    appTrackOn="click"
                    [trackEventData]="{appId: appId}"
                    trackEventName="ClickEncryptEnvironmentVariable"
                    [disabled]="environmentVariableName === '' || environmentVariableValue === '' || isEnvEncrypting"
                    (click)="encrypt()"></e-button>
        </div>
        <div class="flex-item" fxFlex="39%" fxFlexAlign="{{isEnvEncrypting ? 'center' : 'start'}}">
             <span class="intro-text" *ngIf="!isEnvEncrypting && isEnvIntroRequired">
               Pipelines can take your secret information and make them available securely from your Pipelines Jobs as environment variables. Just enter in the information you want to encrypt, and we will give you the secure output to commit into your acquia-pipelines.yaml
             </span>

            <e-progress *ngIf="isEnvEncrypting" progressType="indeterminate"
                        progressSize="giant"
                        progressVariant="dots">
            </e-progress>

            <div class="flex-container encrypted-value" *ngIf="!isEnvIntroRequired && !isEnvEncrypting" fxLayout="column" fxLayoutAlign="start start">
                <pre class="grayed-out">variables:<br/>  global:</pre>
                <e-clipboard [inputText]="encryptedEnvVariableValueYAMLString"
                             htmlElement="pre"></e-clipboard>

            </div>

        </div>
      </div>
     </e-tab>

     <e-tab tabTitle="SSH Keys">
       <div id="encrypt-ssh-keys" class="flex-container" fxLayout="row" fxLayoutAlign="space-between start">
         <div class="flex-item" fxFlex="39%">
           <textarea class="input-item"
                     appDragAndDrop
                     (filesChangeEmiter)="onFilesChange($event)"
                     [(ngModel)]="sshKeyValue"
                     placeholder="Drag your SSH Key file here or enter the key's contents"></textarea>
         </div>
         <div class="flex-item encrypt-btn" fxFlex="22%" fxFlexAlign="center">
           <e-button text="Encrypt >"
                     [disabled]="sshKeyValue === '' || isSSHEncrypting"
                     appTrackOn="click"
                     [trackEventData]="{appId: appId}"
                     trackEventName="ClickEncryptSSHKeys"
                     (click)="encrypt()"></e-button>
         </div>
         <div class="flex-item" fxFlex="39%" fxFlexAlign="{{isSSHEncrypting ? 'center' : 'start'}}">

           <span class="intro-text" *ngIf="!isSSHEncrypting && isSSHIntroRequired">
             Pipelines can take your SSH keys and make them available securely from your Pipelines jobs to access your secure content (For example, a private repository). Just enter in the information you want to encrypt, and we will give you the secure output to embed into your acquia-pipelines.yaml
           </span>

           <e-progress *ngIf="isSSHEncrypting" progressType="indeterminate" progressSize="giant"
                       progressVariant="dots">
           </e-progress>
           <div class="flex-container encrypted-value" *ngIf="!isSSHIntroRequired && !isSSHEncrypting" fxLayout="column" fxLayoutAlign="start start">
             <pre class="grayed-out">ssh-keys:<br/></pre>
             <e-clipboard [inputText]="encryptedSSHKeyValueYAMLString"
                          htmlElement="pre"></e-clipboard>

           </div>
         </div>
       </div>
     </e-tab>
   </e-tabs>
  </e-card-content>

  <e-card-footer>
      <span *ngIf="!isSSHTabSelected">
        <a appTrackOn="click"
           [trackEventData]="{appId: appId}"
           trackEventName="ClickLearnMoreAboutEmbeddingEnvVariables"
           href="https://docs.acquia.com/pipelines/encrypt" target="_blank">Learn more about embedding secure environment variables in Pipelines.</a>

      </span>
      <span *ngIf="isSSHTabSelected">
        <a appTrackOn="click"
           [trackEventData]="{appId: appId}"
           trackEventName="ClickLearnMoreAboutEmbeddingSSHKeys"
           href="https://docs.acquia.com/pipelines/encrypt" target="_blank">Learn more about embedding SSH Keys in Pipelines.</a>

      </span>
      <e-button text="Close" type="link" (click)="dialogRef.close()"></e-button>
  </e-card-footer>
</e-card>
