<e-progress *ngIf="!options"
            progressType="indeterminate"
            progressVariant="dots"
            progressSize="medium"></e-progress>
<div class="el-form-leg__item">
  <label class="el-form-leg__item__label">
    <span>{{title}}</span>
  </label>
  <div class="el-form-leg__item__control">
    <div class="el-select-list__filter">
      <input type="text" class="el-select-list__filter__input" placeholder="{{filterPlaceholder}}" [(ngModel)]="filterText">
    </div>
    <div class="el-select-list__options">
      <div class="el-select-list__repeat-container md-virtual-repeat-container md-orient-vertical">
        <div class="md-virtual-repeat-scroller">
          <div class="md-virtual-repeat-sizer"></div>
          <div class="md-virtual-repeat-offsetter" *ngIf="options">
            <div class="el-select-list__option__wrapper" *ngFor="let option of options | optionsFilter:filterText">
              <div class="el-select-list__option el-select-list__option--has-input" (click)="selectOption(option)">
                <input type="radio" name="option" [(ngModel)]="selectedItem" [value]="option">
                <span title="{{option.name||option}}">{{option.name||option}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
